@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the migrations project for the PersonalRecord app. Please read the <a href="https://github.com/Ramo-Y/PersonalRecord/blob/master/DEVELOPMENT.md">development documentation</a> before contributing to this project.</p>

    <a class="btn btn-primary" href="@Url.Action("ApplyMigrations", "Home")">Test migrations</a>
    <a class="btn btn-primary" href="@Url.Action("ExportExercises", "Home")">Export Exercises </a>
</div>
